node_modules/
playwright-report/
playwright-tracking-report/
test-results/
.env
.DS_Store
assets/*
!assets/.gitkeep
!assets/two-dogs.jpeg
automation/logs/*
!automation/logs/.gitkeep
github-actions-failed.log
/actions-runner/
